.email {
    padding: 1rem;
}

.email__content {
    border: 2px solid #000;
    text-align: center;
    padding: 1rem;
}

.email__content div{
    display: flex;
    justify-content: center;
}

.email__texto {
    padding-bottom: 1rem;
}

.email__input{
    border: 2px solid #000;
    outline: none;
    padding: .5rem 1rem;
    color: transparent;
}

.email__btn {
    background-color: #9353FF;
    border: none;
    color: var(--fonte-branca);
    outline: none;
    padding: .5rem 1rem;
    font-weight: 500;
}